name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '$java_version$'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ec92e829475ac0c2315ea8f9eced72db85bb337a
    - name: Build with Gradle Wrapper
      run: ./gradlew build
    - name: Upload results to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: \${{ secrets.CODECOV_TOKEN }}
    - name: Upload test results to Codecov
      if: \${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: \${{ secrets.CODECOV_TOKEN }}
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '$java_version$'
        distribution: 'temurin'
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@ec92e829475ac0c2315ea8f9eced72db85bb337a
